body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

header {
    color: rgb(1, 28, 148);
    font-size: 30px;
}

input {
    font-size: 17px;
}

p {
    color: red;
    font-size: 30px;
}
