.corpo {
    font-family: 'Indie Flower', cursive;
    color: rgb(1, 28, 148);
    text-align: center;
    font-size: 30px;
}

input {
    font-size: 20px;
}

p {
    color: red;
    font-size: 30px;
}
