body {
    min-height: 100vh;
    text-align: center;
}

.corpo {
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    color: rgb(1, 28, 148);
    text-align: center;
}

img {
    max-width: 550px;
    max-height: 550px;
}

p {
    color: red;
}